.head {
    margin-top: 10px;
    height: 80px;
    display: flex;
    // border: 2px solid black; //убрать потом
}

.category {
    // position: absolute;
    background-color: aliceblue;
    border-radius: 5px;
    width: 190px;
    height: 80px;

}

.p {
    text-align: center;
}

.titles {
    background-color: aliceblue;
    border-radius: 5px;
    height: 80px;
    width: 480px;
    margin-left: 15px;
}

.title {
    text-align: center;
}

.onserch {
    text-align: center;

}

.button {
    margin-top: 20px;
}
