.head {
    margin-top: 10px;
    width: 100%;
    display: flex;
    background-color: #f9f5bf23;
    border-radius: 10px;
    box-shadow: 6px -3px 10px 2px rgba(0,0,0,.35);
}

.category {
    background: transparent;
    width: 20%;
    font-size: 20px;
    cursor: pointer;
}

.p {
    text-align: center;
}

.titles {
    background: transparent;
    width: 50%;
    padding: 15px;
}

.title {
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.total {
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.serch {
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 15px 10px 0 0;
    width: 25%;
}

.button {
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(253, 247, 237, 0.548);
    font-size: 16px;
    border: 2px solid #80932499;
    border-radius: 2px;
}

.buttonX {
    font-size: 18px;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}

.hide {
    display: none;
}

.area {
    flex-direction: row;
    background: transparent;
    position: relative;
    border: 0;
    outline: 0;
}

.input {
    font-size: 16px;
    text-align: center;
    background-color: rgba(253, 237, 237, 0.548);
    border: 2px solid #80932499;
    border-radius: 5px;
    height: 25px;
    width: 95%;
}

